<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='utf-8'>
</head>
<body>
<div class="page-content-container">
    <div class="content">
        <h1>Welcome to </h1>
        <object id="logo" type="image/svg+xml" data="images/musicface-logo.svg"></object>
        <p style="font-size: 1.5em; font-weight: bold">Log in to get started!</p>
            <button id="cool-button">
                <svg width="196" height="70"
                     viewPort="0 0 196 70" version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <a xlink:href="/auth/spotify">
                    <rect id="btn-bg"
                          x="3" y="3"
                          width="190" height="64"
                          rx="32" ry="32">
                    </rect>
                    <rect id="btn-border"
                          x="3" y="3"
                          width="190" height="64"
                          rx="32" ry="32">
                    </rect>
                    <text id="loginText" x="96" y="40">Login to Spotify</text>
                    </a>
                </svg>
            </button>
        <p id="angry" class="emoji">😡</p>

        </div>

        </div>
</body>
<script src="javascripts/cool-button.js"></script>
</html>