
button {
    background: transparent;
    border: none;
}
.btn-bg{
    fill: #ffffff;
    transition: 0.5s;
}

.btn-border{
    stroke: #76BED0;
    stroke-width: 4;
    fill-opacity: 0;
}

text {
    transform: scale(1);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-anchor: middle;
    fill: #76BED0;
    transition: 0.5s;
    max-width: 330px;
}

.upload-btn-wrapper input[type=file] {

    opacity: 0;
}
