body {
    text-align: center;
    font-family: "Avenir Next", serif;
    margin-bottom: 10%;
}

html, body { height: 100%; width: 100%; margin: 0; }

#logo {

}

.page-content-container {
    margin-left: 5%;
    margin-right: 5%;
}

div object {
    text-align: center;
}

.page-content-container {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (min-width: 1000px) {
    h1.content {
        font-size: 5em;
    }

    .homepage-content-container {
        margin-left: 60%;
        margin-right: 60%;
    }

    div object {
        width: 50%;
    }

    .page-content-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 999px) {
    h1.content {
        font-size: 4em;
    }

    .homepage-content-container {
        margin-left: 20%;
        margin-right: 20%;
    }

    div object {
        width: 80%;
    }

    .page-content-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 699px) {
    h1.content {
        font-size: 3em;
    }

    .page-content-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.emoji {
    font-size: 4em;
    animation: emoji 1.5s ease-in-out;
    -webkit-animation: emoji_webkit 1.5s ease-in-out;
}

@-webkit-keyframes emoji_webkit {

    0% {
        font-size: 15em;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        font-size: 4em;
    }

}

@keyframes emoji {
    0% {
        font-size: 15em;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        font-size: 4em;
    }
}

img {
    transition: 1.5s;
}
canvas {
    max-width: 300px;
    max-height: 100%;
    padding: 5%;
    margin-top: 10%;
    transition: 1.5s;
    box-shadow: 3px 3px 25px #aaa;
}

#playlist-suggestion {
    z-index: 15;
    padding: 10%;
}

#playlist-name, #playlist-url {
    color: white;
}

.overlay {
    transition: 0.8s;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 15px 15px 25px #aaa;
}

#closebtn {
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
    transition: 1.5s;
}

#playlist-name{
    font-weight: bold;
    font-size: 2em;
    transition: 1.5s;
}

#playlist-url {
    font-size: 1.02em;
}

#playlist-artwork {
    max-width: 250px;
}

#playlist-caption {
    transition: 1.5s;
    color: white;
    font-size: 1.2em;
}

@media only screen and (min-width: 1000px) {
    .overlay, #closebtn{
        margin-top: 5%;
        margin-left: 25%;
        margin-right: 25%;
        max-height: 80%;
    }
}
@media only screen and (min-width: 700px) and (max-width: 999px) {
    .overlay, #closebtn{
        margin-top: 10%;
        margin-left: 20%;
        margin-right: 20%;
        max-height: 70%;
    }
}
@media only screen and (max-width: 699px) {
    .overlay, #closebtn{
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        max-height: 70%;
    }
}
@media only screen and (max-width: 450px) {
    .overlay, #closebtn{
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        max-height: 70%;
    }
}



@media only screen and (min-width: 1800px){
    .upload-btn-wrapper input[type=file] {
        left: 43%;
        right: 27%;
    }
    .upload-btn-wrapper {
        margin-top: 1%;
    }
    #explanation-text {
        margin-left: 30%;
        margin-right: 30%;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1799px) {
    .upload-btn-wrapper input[type=file] {
        left: 40%;
        right: 30%;
    }
    .upload-btn-wrapper {
        margin-top: 2%;
    }
    #explanation-text {
        margin-left: 25%;
        margin-right: 25%;
    }
}



@media only screen and (min-width: 1000px) and (max-width: 1499px) {

    .upload-btn-wrapper input[type=file] {
        left: 35%;
        right: 35%;
    }
    .upload-btn-wrapper {
        margin-top: 3%;
    }
    #explanation-text {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (min-width: 750px) and (max-width: 999px) {

    .upload-btn-wrapper input[type=file] {
        left: 30%;
        right: 50%;
    }
    .upload-btn-wrapper {
        margin-top: 5%;
    }
    #explanation-text {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (min-width: 700px) and (max-width: 749px) {
    .upload-btn-wrapper input[type=file] {
        left: 30%;
        right: 40%;
    }
    .upload-btn-wrapper {
        margin-top: 10%;
    }
    #explanation-text {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (min-width: 451px) and (max-width: 699px) {

    .upload-btn-wrapper input[type=file] {
        left: 20%;
        right: 50%;
    }
    .upload-btn-wrapper {
        margin-top: 5%;
    }
    #explanation-text {
        margin-left: 7%;
        margin-right: 7%;
    }
}
@media only screen and (max-width: 450px) {

    .upload-btn-wrapper input[type=file] {
        left: 17%;
        right: 0;
    }
    .upload-btn-wrapper {
        margin-top: 10%;
    }
    #explanation-text {
        margin-left: 5%;
        margin-right: 5%;
    }
}